# Ignore images folder in download data module as nd2 files are too large
0.download_data/images

# Ignore max-projected images since it would be too large
1.max_projection/max_projected_images

# Ignore python related files/folders
__pycache__/
